/* Estilos básicos, puedes personalizarlos según tus preferencias */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* styles.css */

/* Estilos para el encabezado */
header {
background-color: #00c6ab;
color: #416864;
text-align: center;
padding: 20px 0;
}

/* Estilos para el formulario de gastos */
#expense-form {
margin-bottom: 20px;
}

#expense-form input,
#expense-form select,
#expense-form button {
margin: 5px;
padding: 8px;
font-size: 16px;
}

#expense-form button {
background-color: #68da3e;
color: rgb(34, 37, 35);
border: none;
cursor: pointer;
}

#expense-form button:hover {
background-color: #45a049;
}

/* Estilos para la lista de gastos */
.expense-item {
margin-bottom: 5px;
padding: 10px;
border: 1px solid #e27e0c;
background-color: #f9f9f9;
}

.expense-item p {
margin: 0;
}

.expense-item button {
margin-left: 10px;
padding: 5px 10px;
border: none;
cursor: pointer;
}

.expense-item button:hover {
background-color: #ddd;
}
